
@{
    ViewBag.Title = "Index";
}

<h2>Admin Panel</h2>




@Html.ActionLink("Users", "users", "admin",new { @class="admin" } )
<hr />
@Html.ActionLink("Modify Static Pages", "statics","admin" , new { @class = "admin" })
